<app-header></app-header>

<header class="">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="5000">
            <img src="../../assets/banner1.png" class="d-block  w-100 h-75" alt="...">
          </div>
          <div class="carousel-item" data-bs-interval="5000">
            <img src="../../assets/banner2.png"  class="d-block  w-100" alt="...">
          </div>
          
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</header>
<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div r class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5" *ngFor="let products of allproducts">
                <div class="card h-100" >
                    <!-- Product image-->
                    <img class="card-img-top" height="250px" src={{products.image}} routerLink="/view/{{products.id}}" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder bg-dark bg-gradient text-center rounded p-2 text-light">{{products.title.slice(0,15)}}...</h5>
                            <!-- Product price-->
                            {{products.price}}
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent d-grid place-items-center gap-2">
                        <button class="btn btn-warning btn-sm" (click)="addToCart(products)"><i class="fa-solid fa-cart-shopping pe-2"></i>Add To Cart</button>
                        <button class="btn btn-warning btn-sm" (click)="addToWhishlistt(products)"><i class="fa-solid fa-heart pe-2"></i>Add To Wishlist</button>
                    </div>
                </div>
            </div>
            
            
        </div>
    </div>
</section>